._7rtx{align-items:center;display:flex;flex-direction:column;height:190px;justify-content:center;overflow:hidden;position:relative;width:151px}._7sd1{justify-content:flex-start}._7rty{padding:0 8px;text-align:center}._7rtz{align-items:center;background:#3578e5;border:4px solid #fff;border-radius:50%;display:flex;height:40px;justify-content:center;width:40px}._7sd2{margin-bottom:20px}._7sd2 ._7rtz{left:50%;position:absolute;transform:translate(-50%, -50%)}
.sp_LZjrWWMZfvb{background-image:url(/rsrc.php/v3/y_/r/vCXvGPrrZHS.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_LZjrWWMZfvb.sx_871d20{background-position:0 0}.sp_LZjrWWMZfvb.sx_73fa17{width:16px;height:16px;background-position:0 -21px}
.sp_n859zgufE8P{background-image:url(/rsrc.php/v3/ye/r/eGoVmzlGPWQ.png);background-size:auto;background-repeat:no-repeat;display:inline-block;height:20px;width:20px}.sp_n859zgufE8P.sx_38ffd9{background-position:0 0}.sp_n859zgufE8P.sx_d89eca{background-position:0 -21px}

#bootloader_As_bW{height:42px;}.bootloader_As_bW{display:block!important;}