table ,tr ,td{
    border: 0px solid black;
    
}
img{
    width: 100px;
}
#table1{
    width: 100%;
    height: 50px;
    background-color: whitesmoke ;
   
}
#space{
width: 70%;
}

h1,h3,h2{
    
    text-align: center ;
}
h1{
    font-style: oblique;
}
p{
    text-align: center ;
}

#bio, #preferent,#history,#speciality {
   text-align: center;
}

#bio:hover, #preferent:hover,#history:hover,#speciality:hover {
    color:white;
    background-color: gray; 
    cursor: pointer;
}
  
#background{
    text-shadow: 3px 2px white;
    text-align:center ;
    color:black;
    font-size: 70px;
    font-family: initial;
    width: 100%;
    height:500px;
    background-image: url("asset/78713698_2660079620752131_5117077324113641472_o.jpg");
    background-size: cover;
    
 
}


#table2{
    width: 80%;
    height: 600px;
    margin: 0 auto;
    background-color: whitesmoke;
    
}
#img1{
    width:500px;
    
}
#img3{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
    
}
#img4{
    width: 500px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img5{
    width: 500px;
    
    margin-left: 20%;
}
#img6{
    width: 500px;
    margin-left: 20%;
}
#img7{
    width: 500px;
    margin-left: 20%;
}
#img8{
    width: 200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img9{
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img10{
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}
#img11{
    width:200px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#bio1{
 width: 20%;
  

   
}
#bio2{
  width: 100%;
  height: 200px;
  background-color:aliceblue;
 
}
#bio3{
    width: 100%;
    height: 200px;

    background-color:azure;
}
#bio4{
    width: 100%;
    height: 200px;

    background-color:aliceblue;
}
#bio5{
    
    
    vertical-align: baseline;
    background-color: gainsboro;
}

#table3{
    width:80%;
    
    height:500px;
    margin: 0 auto;
    background-color: gainsboro; 
}



#table4{
    width:80%;
    height: 1000px;
    margin: 0 auto;
    background-color :aliceblue; 

}
#table5{
    width:80%;
    
    height: 300px;
    margin: 0 auto;
    background-color :azure; 
}
