
._37ft{position:relative}._37ft::after{background:rgba(255, 255, 255, .3);bottom:0;content:'';left:0;position:absolute;right:0;top:0}
.profileInfoSection{margin-bottom:30px}.profileInfoSection .emptyInfoSection{text-align:center;font-size:15px}.profileInfoSection .inlineLabel{color:#999}.profileInfoSection .privacyTooltip{padding-top:4px}.profileInfoTable .activateLink{padding-left:8px}
._4u6u>span{display:inline-block;position:relative}._4u6u>span:before,._4u6u>span:after{background:#ccd0d5;content:"";height:1px;position:absolute;top:50%;width:100px}._4u6u>span:before{margin-right:15px;right:100%}._4u6u>span:after{left:100%;margin-left:15px}._4u6v{color:#4b4f56;font-size:16px;font-weight:normal}._4iri{margin-bottom:-30px}._4u6w{margin-bottom:10px}._4u6x{margin-bottom:5px;margin-top:5px}._4irj{margin-bottom:5px;margin-top:5px}._4u6y{height:36px;width:248px}._4irk{height:36px;width:248px}._4irl{height:28px;width:216px}._4irm{height:28px;width:216px}._4irn{margin-bottom:10px;margin-top:-25px}._4u6z{margin-bottom:30px;margin-top:10px}._4u6-{margin-top:5px}._4irp{margin-bottom:5px;margin-top:5px}._4u6_{height:36px;width:164px}._4irq{height:36px;width:164px}._4irr{height:28px;width:148px}._4isa{height:28px;width:148px}._4u70{text-align:center}._4isb{overflow:hidden;text-align:center;text-overflow:ellipsis;white-space:nowrap;width:auto}
._6w66{margin-left:15px}._6w67{vertical-align:bottom}._6w68{margin-bottom:10px}
._4j7v{display:flex;overflow:hidden;position:relative}._a3f{vertical-align:bottom}._64tw{bottom:4px;position:absolute;right:4px}
._30q-{background-size:cover;padding-bottom:37%;width:100%}@media print{._30q-{display:none}}
._24cs{display:none}._24cs.__b9{display:block}a._6f0h{color:inherit;text-decoration:none}
._hii ._30q-{border-color:#dddfe2;border-radius:3px;border-width:1px;padding-bottom:55%;position:relative}._hij{background-color:#fff;-webkit-font-smoothing:antialiased;padding:16px}._hik{color:#444950;line-height:20px;word-wrap:break-word}._hil,._hil a,._hil a:hover{color:#444950;line-height:20px;margin-bottom:12px}._him{padding-right:20%}._hin{padding-left:20%}._hip{background:linear-gradient( to bottom, rgba(255, 255, 255, .15) 0%, rgba(0, 0, 0, .8) 100% );bottom:0;height:35%;position:absolute;width:100%}._hiq{bottom:9px;color:#fff;line-height:16px;padding:12px 12px 0 12px;position:absolute;size:11px}._hir{border-color:#dddfe2;border-radius:3px;border-width:1px;position:relative}._hj0{background-color:#bec3c9;height:150px}._hj1{background-color:#e9ebee;height:150px}._hj2{padding-top:60px;text-align:center}._hj3{color:#365899;cursor:pointer;margin-top:12px}._hj4{bottom:0;left:0;position:absolute;right:0;top:0}
._1q7f{padding-top:4px}
._1y-9{padding-bottom:6px}._1y-a{padding-bottom:6px;padding-top:6px}
._5sqi{text-align:center}._32x0,._5sqk{border-bottom:1px solid #e5e5e5;padding:12px 12px 11px 12px}._32x0:last-child,._5sqk:last-child{border:none}._ex- ._5tsm{border:none}._5sqs{color:#90949c}._3wqb{display:inline-block;height:20px}._3wqb:hover{text-decoration:none}._5sqv{margin:4px 0}._4qhg{margin-right:10px;width:91px}
._53_y{border-top:1px solid #e5e5e5;padding:10px}._53_y:first-child{border-top:none}._5402{color:#1d2129;display:block;font-weight:bold;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}
._2ex9 .uiScrollableAreaWrap{max-height:500px}._1s52{padding:38px 0 44px;text-align:center}._1s53{background-image:url(/rsrc.php/v3/yp/r/bFe8OinUtj_.png);background-repeat:no-repeat;background-size:auto;background-position:0 0;height:84px;margin:0 auto;width:84px}._1s54{color:gray;font-size:14px;line-height:16px;padding:13px 10px 10px}._1s55{display:block;padding:4px 0}
._4-lt{padding:12px}._4-lu{color:#000;display:inline-block;font-size:15px;font-weight:600;max-width:237px}._4-lv{margin-left:5px}._3520{vertical-align:middle}._3521{left:-2px;position:relative}._4-lt ._4-lu{max-width:100%}._d2d ._4-lu{max-width:89%;vertical-align:middle}
._g3h{border-bottom:1px solid #dddfe2;line-height:16px;padding:10px;position:relative}._g3i span._38my{color:#4b4f56;text-transform:capitalize}._1uhc,._g3i{font-size:14px}._g3j{bottom:0;left:0;position:absolute;right:0;top:0}._1uhd{overflow:hidden}._g3k{border-radius:2px;height:16px;opacity:0;text-align:center;width:16px}._g3h .openToggler ._g3l{display:none}._g3l,._g3m{margin:2px 0}._g3h .openToggler ._g3m{display:inline-block}._g3h ._g3m{display:none}._g3h:hover ._g3k{opacity:1}._g3h .openToggler ._g3k{background-color:#3b5998;opacity:1}._g3h ._1uhg{float:right;margin-top:2px}._g3h ._g3o{float:right;position:relative}
._5ay5{margin-bottom:12px}._5ay5:empty{display:none}._5ay5._2h4v{margin-bottom:0}._5ay5._137a{position:relative}
._5bl1{position:relative}._5bld>img,._5bld,._5blf{display:inline-block}
._4nq6{font-size:14px;line-height:16px;padding:8px 12px}._4nq7+._4nq6,._4nq7+._44ga+._4nq6,._4nq9+._4nq6,._4nq9+._44ga+._4nq6{margin-top:4px}._4nq6:last-child{margin-bottom:4px}._2j1q{background-color:#dddfe2;content:'';display:block;height:1px;margin:4px 0}._4nq7+._44ga,._4nq9+._44ga{display:none}._d5u{height:16px;width:16px}._d5u>.img{margin-left:2px;margin-top:2px}
._6inj{background-color:#ecf3ff;padding:10px 5px 10px 5px;text-align:center}._15x-{line-height:24px;margin-bottom:8px}._15x_{padding:12px}._15y0{vertical-align:middle}._6lla{vertical-align:center}._3-0v{background-color:red;height:16px;width:16px}
._1xgg{margin-right:8px}
._1c02{padding:12px}._1c02 h1{font-weight:normal}._1c02:first-child{margin-top:0}._1c03{font-family:Helvetica, Arial, sans-serif;font-size:16px;line-height:18px}._v6p{margin-top:8px;overflow:hidden;text-overflow:ellipsis;white-space:nowrap}._3koq ._405z{color:#4267b2;font-size:16px;padding-top:10px}._1odw{color:inherit;text-decoration:none}._1odw:hover{color:inherit;text-decoration:none}._1c00{font-size:14px;line-height:16px;vertical-align:middle}._2q9t{color:#ff9416;font-size:14px;line-height:16px;margin-top:4px}._331d{color:#3b5998;font-size:16px;margin-right:4px}._1gj_{margin-right:12px}._1gk0{color:#1877f2;font-size:16px;line-height:16px}._1gj-{align-items:flex-end;display:flex}
._ko6{color:#4b4f56;font-size:14px;line-height:20px;margin-right:8px;vertical-align:middle}._ko7{background-color:#90949c;display:inline-block;height:16px;margin:1px 0 3px;vertical-align:middle}._ko8{color:#90949c;display:inline-block;font-size:12px;line-height:20px;margin-left:8px;max-width:22px;vertical-align:middle;white-space:nowrap}._ko9{float:left}._2y4z{float:left}
._590g{display:inline-block;margin-right:10px;position:relative;top:3px}._5v3u{border-right:1px solid #333;margin-right:16px;min-height:97px;padding-right:16px;text-align:center;width:90px}._5v3v{color:#4b4f56;font-size:42px;font-weight:bold}._5v3x{margin:3px}._5wfv{font-size:13px;font-weight:normal;margin-left:5px;position:relative;top:-4px}._27ny ._5wfv{color:#90949c}._27nz ._5wfv{color:#fff}._27n- ._5wfv{color:#7f7f7f}._2h6i{color:#4b4f56;margin-left:3px;position:relative;top:-4px}._2b87{font-size:14px;padding-right:5px;position:relative;top:-3px}._66bl{color:#4267b2}._27nz ._2b87{color:#fff}a:hover ._5wfv{text-decoration:underline}
._294j{margin-right:12px;position:relative}._295o{left:45px;position:absolute;top:45px}._295p{margin-top:6px}._67pj{color:grey}._295-{margin-left:2px;margin-right:2px}._295_{outline:1px solid #ebedf0}._67pk{margin-bottom:6px}._3dy3{white-space:pre-wrap;word-break:break-all}
._drp{height:36px}
.profile-picture{background-color:#fff;display:block;overflow:hidden;position:relative;width:180px}.profile-picture:hover{text-decoration:none}.profile-picture:hover .edit_profilepicture{display:block}.profile-picture img{display:block;margin:auto;max-width:180px}.profile-picture span{background-color:#000;height:800px;position:absolute;top:0;right:0;width:1px;opacity:.3}.edit_profilepicture{background:#000;color:#fff;display:none;opacity:.7;padding:6px 7px 6px 23px;position:absolute;right:1px;top:0}.edit_profilepicture:hover{opacity:.95}.profile-friends .profileFriendsText{overflow:hidden;text-overflow:ellipsis;width:102px;word-wrap:normal;white-space:nowrap}.profile-friends .profileFriendsByline{width:172px}.profileFriendsByline{white-space:nowrap}.profileFriendsNetwork{white-space:nowrap}.profile-friends li{margin-bottom:7px}div.profile-pagelet-section{margin-bottom:24px}.fbx .profileInfoTable th.label{padding-right:8px;width:81px}
.mediaRow .mediaPortrait{line-height:14px;padding:0;overflow:hidden;width:75px}.mediaRow .mediaPortrait .photo{height:75px;margin-bottom:5px}.mediaRow .mediaPortrait .mediaPageName{overflow:hidden;max-height:28px;word-wrap:break-word}.mediaRowWrapper{text-align:center}.mediaRowRevealer{line-height:12px}
.mediaRow .profilePicContainer{height:100px;position:relative}.mediaRow .likeButtonContainer{left:-50px;position:absolute;text-align:center;top:41%;width:200px}.mediaRow .blackBackground{background-color:#333;height:100px;left:0;position:absolute;text-align:center;top:0;width:100px}.mediaRow .profilePicContainer .photo{height:100px;position:absolute}.mediaRow .profilePicContainer:hover .photo{opacity:.6}.mediaRow .profilePicContainer .likeButtonContainer{display:none}.mediaRow .profilePicContainer:hover .likeButtonContainer{display:block}
._5e7- th.label{color:#999;font-weight:bold;line-height:15px;text-align:left;vertical-align:top;width:90px;word-wrap:break-word}._5e7- td.data{line-height:15px;width:100%}._5e7- td.rightCol{padding:3px 0 0 35px;text-align:right;width:50px}._5e7- .fbProfileExperience .experienceTitle{font-weight:normal}._5e7- .sampleImageCaption{text-align:center;width:50px;word-wrap:break-word}._5e7- .uiInfoTable .label{color:#666;font-size:13px;font-weight:normal;padding-top:0}._5jsb:hover{background:#f5f6f7}._5pty ._5jsb:hover{background:inherit}._5e7- .uiInfoTable .data{padding-top:0}._5e7- .throbber{display:none}._5e7- .async_saving .throbber{display:block}table._5e7-{margin:0 10px 5px;width:379px}._5e7- ._480u{line-height:15px;padding-top:4px}._5e7- th._3sts{color:#999;font-weight:normal;line-height:15px;text-align:left;vertical-align:top;width:79px;word-wrap:break-word}
._2ge8:hover ._21qn{opacity:1}._u3r ._2ge8 ._21qn{visibility:hidden}
._5f6p{position:relative}.editingExperience ._2tdc{display:none}._5f6p:hover ._5f6q,._5f6q._izc{opacity:1}._5f6q{opacity:0;position:absolute;right:0;top:8px}._4lob{position:relative;top:1px}._3m4o ._5f6q{padding-right:24px}._3m4o+._5f6p{border:none}
._3xdi{color:#90949c;margin-right:18px;width:180px}._pt5{width:360px}.timelineLayoutLoggedOut ._pt5{width:auto}
._43c8{padding:16px 0 20px}._43c8 ._53d9{margin:-17px -24px -21px}
._h71{border-bottom:1px solid #dddfe2;line-height:26px}._h72{color:#90949c;text-transform:uppercase}
._173e .fcg{color:#4b4f56}._2lzr{max-width:412px}

._4qm1{padding-bottom:30px}html ._4qm1 .fbProfileEditExperiences{padding:0}html ._4qm1 .experience{max-width:none}html ._4qm1 .fbProfileEditExperiences .editingExperience{margin:0}html ._4qm1 .fbProfileEditExperiences .editingExperience:last-child{padding-bottom:20px}._4vr_ ._4vs0,._4vs1 ._4vs2{display:none}._3ms7 ._3ms8{display:none}._4vs2:first-child+li{margin-top:-1px}._4qm1 ._3m4o{position:relative;top:-1px}
._4khu{margin:30px 0 40px;text-align:center}
._3t3{background:#f5f6f7;border-radius:0 0 2px 2px;border-top:1px solid #d3d6db;display:block;margin:0 -14px 0 -15px;padding:15px 0;text-align:center}#pagelet_timeline_medley_archive ._3t3{margin:0 -2px -15px}._3t3:hover{background:#f5f6f7}.async_saving ._3t5{display:none}
._5vf h3.uiHeaderTitle{display:inline-block;font-size:16px;margin-left:10px;margin-top:2px;padding:0 8px}._5vg{border-bottom:1px solid #f5f6f7;border-top:1px solid #d3d7dc;margin-top:-10px}._5vf .uiHeaderActions{margin:5px 15px 0 0;padding:0 8px;position:relative}._5vf .uiHeaderActions a{font-size:13px;margin-top:-1px;padding-right:10px;text-transform:uppercase}._5vf h3.uiHeaderTitle,._5vf .uiHeaderActions a{color:#89919c;text-shadow:0 1px 0 #f5f6f7}._5vf h3.uiHeaderTitle,._5vf .uiHeaderActions{background-color:#e9ebee}html ._5vf ._5xn{right:5px;top:4px}
._51ly ._51lz{padding:0}._3v1e ._x88{left:222px}._51ly ._36bx._36bx::before{border:0}
._4t2a ._1nby._36bx{border:none;margin-bottom:10px}
._57_s{bottom:0;direction:ltr;left:0;position:absolute;right:0;text-indent:-10000px;top:0;z-index:1}._5dwa._57_-{line-height:18px;padding:14px 12px 12px}._4z-w{padding:12px;text-align:center}._4z-w:hover{background:#f5f6f7}._4z-w ._4b4x{display:block;margin:-12px;padding:12px}._57_- ._38my._5803{color:#1d2129;font-size:16px;text-transform:none}._57_- ._38my._5803:first-child{margin:0}._5804{margin:0 10px 10px 10px}._580d{padding:14px 12px 9px 12px;position:relative}._270u:before,._37p5:before,._580d:before,._2qgs:before{border-top:1px solid #ebedf0;content:'';display:block;left:12px;position:absolute;right:12px;top:0}._270u:hover,._580d:hover{background:#f5f6f7}._270u:before,._2qgs:before,._57_-+div>div:first-child ._580d:before,._57_-+div>div:first-child ._37p5:before{left:0;right:0}._580d ._580e{margin-right:12px;position:relative;z-index:2}._580f{font-size:16px;line-height:18px}._5c7k p{display:inline}._5c7k .profileLink{font-weight:normal}._580h{color:#90949c;font-size:14px;position:relative;z-index:2}._580i{color:#1d2129;font-weight:600;position:relative;z-index:2}._270u{padding:8px 12px 12px 12px;position:relative}._270u ._5x8v{margin-right:8px}._270u:hover ._5x8v{background:#f5f6f7}._2wcw{padding-top:4px}._270y{color:#1d2129;font-size:16px;position:relative;z-index:2}._270-{margin-left:4px;margin-top:4px;position:relative;z-index:2}._270z{color:#90949c;display:block;font-size:14px}._41dr{display:inline-block;height:48px;position:relative;width:48px}._41ds{display:inline-block;height:48px;width:48px}._4x0c,._4x0c ._41ds{height:32px;width:32px}._41dt{bottom:0;position:absolute;right:0}._41du{margin:8px 12px}._3jxh{margin-left:12px;margin-top:24px;padding-bottom:4px}._4x0d{margin:0 12px;min-height:48px}._4x0e{height:32px}._4x0d ._41dr{margin:0 4px 0 0}._4x0d ._4x0c{margin:0 2px 0 0}._4dn9{border-top:1px solid #f2f2f2}._4dn9 ._45hc{text-align:center;width:49.9%}._4dn9 ._ohe,._4dn9 ._45hc a{width:100%}._df9{padding:24px 0;text-align:center}._2qgs{color:#4b4f56;padding:12px;position:relative}._3cht .text_exposed_link{background:#fff;border-radius:0 3px 3px 0;border-top:1px solid #ebedf0;display:block;font-size:14px;margin:-8px -12px -12px -12px;position:relative;text-align:center}._3cht .see_more_link{display:block;padding:12px 0}._3cht .see_more_link_inner{background:url(/rsrc.php/v3/yc/r/rVFfE3E484o.png) no-repeat right 50%;display:inline-block;padding-right:12px}._3cht .text_exposed_link:hover{background:#f5f6f7}._3cht .text_exposed_link:hover .see_more_link{text-decoration:underline}._1r50{background-color:#edf2fa;border-radius:2px;color:#20375f;cursor:default;display:block;font-size:14px;height:14px;line-height:14px;margin:0 4px 4px 0;padding:4px 6px 4px;position:relative}._47od{background-color:#edf2fa;border-radius:2px;color:#20375f;display:block;font-size:14px;height:14px;line-height:14px;margin:0 4px 4px 0;padding:4px 6px 4px;position:relative}._1r51{line-height:24px;margin:4px 12px 12px 12px;min-height:24px;text-align:left}._37p6{margin:-1px}._37p6 ._4sdm{box-shadow:none}._37p5{padding:12px;position:relative}._37p7{border:1px solid rgba(0, 0, 0, .1)}._37p8{margin:4px 0 4px 12px}._37p8 ._37p9{color:#4b4f56;line-height:20px}._37p8 ._37pa{color:#90949c;line-height:20px}._4x0f{padding:24px 12px 20px 12px}._4x0g{text-align:center}._4x0h{color:#4b4f56;font-size:16px;line-height:18px;margin-top:12px;text-align:center}._q5_{white-space:nowrap}._q60{overflow:hidden}._3yt0 ._3yt7{margin:0 4px 8px 0}._4pze{font-weight:600;letter-spacing:.7px}._24d3{display:inline-block;left:12px;padding:1px 0 4px;position:relative;top:0;width:494px}._g-q>._24d4{left:0;margin-right:0}._9_3{padding:12px}._9_4{color:#1d2129;font-size:16px;font-weight:600}._425j{background-color:#fff;bottom:0;left:0;opacity:.7;position:absolute;right:0;top:0}._42ck{height:100%;max-width:100%}
._5pbz{border-top:1px solid #e9e9e9;margin-top:12px;padding-top:10px}._5va0{border-top:0;margin-top:10px;padding-top:0}._5va1{border:1px solid #e5e5e5;border-radius:3px;margin:12px}._5pbz ._5pcr{position:relative}._114d ._5q5v{margin-bottom:15px}._121t._114d ._5q5v{margin-bottom:4px}._121t._114d .hiddenItem{padding-bottom:8px}._5va0 ._44b2{display:block;line-height:32px;text-align:center}._5va0 ._44b2:hover{background-color:#f5f6f7;border-radius:2px;text-decoration:none}._m76{margin-left:5px}
._4-rr{display:inline-block}._4-rr ._4-rs+._4-rs{margin-left:-1px}._4-rt{position:relative;z-index:1}._4-ru{position:relative;z-index:2}._4-rs._42fr{position:static}._4-rr ._4-rs{border-radius:0}._4-rv ._4-rs:first-child{border-bottom-left-radius:2px;border-top-left-radius:2px}._4-rv ._4-rs:last-child{border-bottom-right-radius:2px;border-top-right-radius:2px}
.uiComboInput{border:1px solid #bdc7d8;display:inline-block;zoom:1}.uiComboInput .inputtext,.uiComboInput .uiTypeahead,.uiComboInput .uiTypeahead .wrap{border:transparent}.uiComboInput .uiTypeahead{display:inline-block;vertical-align:top;zoom:1}.uiComboInput .comboButton{margin:-1px;position:relative;z-index:2;zoom:1}
.uiCollapsedList .visible{margin-right:10px}.uiCollapsedListHidden .showAll{list-style-type:none}.uiCollapsedListVisible .showAll,.uiCollapsedListHidden>.hiddenItem{display:none}.uiCollapsedListNoSeparate .visible{margin-right:3px}.uiCollapsedListVisible .visible,.uiCollapsedListMiddot .visible{margin-right:0}
._4vf0{align-items:center;border-radius:12px;display:flex;height:24px;justify-content:center;margin-right:8px;width:24px}
.uiProfileBlockContent{overflow:hidden}
._4m78{background:white;border-radius:3px;padding:4px;position:relative}._2r9 ._2ra{position:relative;display:block;min-height:50px;min-width:50px}._2r9 ._2ra.profilePic .img{display:block}._64d{background:#000;background:linear-gradient(transparent, rgba(0, 0, 0, .7));bottom:4px;color:#fff;display:block;left:4px;opacity:0;padding-top:5px;position:absolute;right:4px;transition:opacity .2s}._4m78:hover ._64d{opacity:1}._52h2,._52h2:hover{color:#fff;display:block;text-decoration:none}

#bootloader_eGREx{height:42px;}.bootloader_eGREx{display:block!important;}