._4ihw{height:0;left:0;opacity:0;position:absolute;text-align:center;top:38%;transition:opacity .2s;width:100%}._5737 ._4ihw,._5rz:hover ._4ihw,._58rc:hover ._4ihw,._4ihw.uiButtonGroupActive{opacity:1}
._35q4 ._54nh,._35q4.uiMenuItem .itemLabel{overflow:hidden;text-overflow:ellipsis;white-space:inherit}._35q4._54ah,._35q4 ._54ah{color:gray}._35q4._54ni,._35q4.uiMenuItem{white-space:inherit}
html ._2804 ._4psd{border:1px solid #ebedf0}
html ._5rz ._4psd{border:1px dashed #ebedf0;color:#89919c;font-size:13px;height:100%;margin:-2px;text-align:center;vertical-align:middle;width:100%}._5rz ._4psd:before{content:'';height:100%}._5rz ._4psd:before,._4pse ._4psf{display:inline-block;vertical-align:middle}._4pse ._4psf{padding:5px}html ._5k35 ._5rz ._4psd{margin:0}
._6r5{display:inline-block;line-height:22px;width:300px}html ._6r5,html ._6r5 .wrap{border-color:#7f7f7f}._4kmj .uiSelector{border:1px solid transparent}._4kmj{display:inline-block;line-height:0;position:relative;vertical-align:middle}._6r5 .wrap{padding-left:20px}._4iab{background-image:url(/rsrc.php/v3/yC/r/sqmbLki_I33.png);background-repeat:no-repeat;background-size:auto;background-position:0 -444px;height:16px;left:4px;position:absolute;top:4px;width:16px;z-index:2}._6r5.typeaheadLoading{background:#FFFFFF url(/rsrc.php/v3/yb/r/GsNJNwuI-UM.gif) no-repeat 275px 5px}
._4_zu{padding:8px 12px}._4_zu ._4_zv.fcb{color:#4b4f56;font-size:15px;font-weight:bold;line-height:18px;margin-top:3px}
._2i12 ._58rl{height:198px;line-height:16px;margin:0 -21px 0 -1px;position:relative;white-space:nowrap}html ._2i12 ._5rz{margin:0 13px 0 0;width:145px}._2i12 ._gx6{height:25px;padding:6px 0}._4bn5{vertical-align:middle}html ._51i8{display:inline-block;vertical-align:middle}._2i12 ._gx7{color:#8D949E !important;padding-bottom:1px}._2i12 ._gx8::after{border:0}._2i12 ._gx8{box-shadow:0 1px 3px rgba(0, 0, 0, .25)}._2i12{border-top:1px solid #c1c6cd;height:198px;overflow:hidden;padding:16px 12px 4px}._5b8g{color:#4b4f56;height:210px;line-height:18px;text-align:center}._5b8g ._5b8h{font-size:16px;margin:0 auto;padding-top:63px}._5b8g ._5b8i{font-size:12px;line-height:44px}._58rl{left:-12px;position:relative;width:850px}._56bk ._58rm{top:75px}._56bk ._2i12{height:273px}._2i12 ._1fs8{color:#89919c;overflow:hidden;text-overflow:ellipsis;white-space:normal}._2i12 ._58rn{height:145px}._56bk ._2i12 ._58rn{height:217px}

#bootloader_Reg6C{height:42px;}.bootloader_Reg6C{display:block!important;}